.detail {
  padding: 0.5em 0;
}
.content {
  /* padding: 0.1em; */
}

.title {
  padding: 0.5em 0;
}

.channelTitle {
  color: black;
  text-decoration: none;
}

.description {
  white-space: pre-wrap;
  padding: 1em 0;
}
