.header {
  display: flex;
  height: 4rem;
  background: black;
  color: white;
  padding: 0.8em 1em;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.button {
  background-color: darkgrey;
  margin-left: 0.4em;
  outline: 0;
}

.title {
  margin-left: 0.1em;
}

.input {
  font-size: 1.2rem;
  outline: 0;
  flex-basis: 100%;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
